extends layout
block content
  
  .section-bg.cl1 
    h1 Cluster 1: Introducción
  .sect-white
    //.cssload-container
      .cssload-whirlpool
    .container
      h3 Este clúster está orientado a quienes quieran aprender desde cero que es Inteligencia Artificial, cuáles son ramas y qué es lo que se está haciendo en el mundo al respecto.
  .section-bg.cl2 
    h1 Cluster 2: Aprendizaje
  .sect-white
    //.cssload-container
      .cssload-whirlpool
    .container
      h3 Abordaje de distintas herramientas de Big Data, Machine Learning, Cognitive Services, clasificación de lenguaje natural, etc.
  .section-bg.cl3 
    h1 Cluster 3: Emprendimientos
  .sect-white
    //.cssload-container
      .cssload-whirlpool
    .container
      h3 ¿Tenés una idea o proyecto?¿Necesitás formar un equipo?¡Sumate!
  .section-bg.cl4
    h1 Cluster 4: Investigación
  .sect-white
    //.cssload-container
      .cssload-whirlpool
    .container
      h3 ¿Sos últra-nerd y querés experimentar con nuevos algoritmos? Sumate, hay otros nerds que están en la misma.
