extends layout

block content



	//-nav.grey.darken-4#nav
		

	
	.cont
		.parallax
			.parallax__layer.parallax__layer--back

			.parallax__layer.parallax__layer--base
				.section-bg
					h1 Inteligencia Artificial Argentina
					
					.align-btn
						a.btnCallToAction.btn-btn(href="https://www.meetup.com/es-ES/InteligenciaArtificialArgentina/", target="_blank") Inscripción
						
				#particles-js
				a(name="quienes")
					section.quienes(name="quienes")
						h3 IAAR
						h5 Somos un grupo de apasionados por la Inteligencia Artifical, la computación Cognitiva y Machine Learning.

		
		//section.tutoriales
			|iframe(width='1200', height='600', src='https://www.youtube.com/embed/JqVibiT3Uuk', frameborder='0', allowfullscreen='')
		
		//-section.recomendaciones(name="recomendaciones")
			.tit
				h2 Libros recomendadas
			.row
				.col.s12.m2
					.card.horizontal
						.card-image
							img(src='images/00.jpg')
						.card-stacked
							.card-content
								p Nathan, un programador multimillonario con fama de reclusivo, selecciona a Caleb, un joven empleado de su empresa, para que pase una semana con él en un lugar remoto en las montañas con el objetivo de que participe en un test en el que está involucrada su última creación: Ava, un robot-mujer en el que inteligencia artificial lo es todo. 
							.card-action
								a(href='https://www.youtube.com/watch?v=EoQuVnKhxaM', target='_blank') Ver Trailer
