doctype html
html
	head
		title Inteligencia Artificial Argentina
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/latolatinfonts.css')
		script(src='/javascripts/jquery-1.11.1.min.js')
		script(src='/javascripts/materialize.js')
		script(src='/javascripts/injquery.js')
		script(src='/javascripts/particles.js')
		link(rel="icon", href="/images/brain_icon-03.ico")
		script.
			particlesJS.load('particles-js', 'javascripts/particles.json', function() {
			console.log('callback - particles.js config loaded');
			});
		body
		
			nav
				.nav-wrapper.bg-black
					a.brand-logo.padnav(href='/') IAAR
						span.beta Beta
					a.button-collapse(href='#', data-activates='mobile-demo')
						i.material-icons.padnav =
					ul.right.hide-on-med-and-down
						li
							a(href='/recursos') Recursos
						li
							a(href='/nosotros') ¿Quiénes somos?
						li
							a(href='https://www.facebook.com/groups/InteligenciaArtificialArgentina', target="_blank")
								i.fa.fa-facebook.icnav(aria-hidden="true")
					ul#mobile-demo.side-nav.bg-black
						li
							a(href='/recursos') Recursos
						li
							a(href='/nosotros') ¿Quiénes somos?
						li
							a(href='https://www.facebook.com/groups/InteligenciaArtificialArgentina', target="_blank")
								i.fa.fa-facebook.icnav(aria-hidden="true")
			block content
