extends layout

block content
  .container
    h3 Este es un grupo para todos los entusiastas de la Inteligencia Artificial (IA). 
    
    p  Las actividades e intereses del grupo son el aprendizaje y el entrenamiento, la experiencia y la ejecución de proyectos concretos e investigaciones, y la difusión y evangelización de todo lo relacionado a las tecnologías de la Inteligencia Artificial (IA), Big Data, Analytics, Machine Learning, Cognitive Learning, Data Mining, Redes Neuronales, etc. También nos interesan los lenguajes R y Python. 

    p La idea es ayudarnos con estas tecnologías, ejecutar entrenamientos y capacitaciones, intercambiar material de estudio (fotocopias, pptx, pdf, links), ideas, y ver como se aplican en el mundo real, sin barreras de vendors y admitiendo todas las iniciativas, sean privadas u open source. 

    p También pretendemos que sea un lugar de punto de partida a la generación de grupos de estudio, y germen de equipos de trabajos profesionales y startups.

    p El grupo esta abierto a todos los que guardan una relación académica o profesional por la informática , o simplemente entusiasmo por la IA.  El objetivo es que haya un enriquecimiento para todos acerca del tema de IA.  Los experimentados sobre estas tecnologías podrán ayudar a los menos, participar de proyectos y aplicar sus habilidades docentes y así podrán afianzar más sus conocimientos.  Los que no, entraran en este nuevo mundo de la Ciencia de Datos (Data Science) para entrenarse como Científico de Datos (Data Scientist). 


    p Pretendemos hacer crecer la comunidad y convertirla en referente de IA, y establecer vínculos con otros grupos de tecnologías relacionadas, empresas, academias, instituciones, universidades,  gobierno, etc. 
    h3 Nuestro Equipo
    .row
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.pablo
          h5 Pablo Luchetti
          .circ.bg-yellow Algoritmos ML
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.ricardo
          h5 Ricardo Antonio Satavicius
          .circ.bg-yellow Algoritmos ML
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.nico
          h5 Nicolás Hernán Agüero
          .circ.bg-red NLP  
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.alexD
          h5 Alexander Ditzend
          .circ.bg-yellow Algoritmos ML
    .row
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.andy
          h5 Andres Hohendahl
          .circ.bg-red NLP
          .circ.bg-yellow Algoritmos ML
          .circ.bg-elctr Robótica
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.daniel
          h5 Daniel Franco Berdoy
          .circ.bg-yellow Algoritmos ML
      //.col.s12.m6.l3
        .img-nombre
          .circular.user-img.alexH
          h5 Alex Hans
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.pato
          h5 Patricio Julián Gerpe
          .circ.bg-red NLP
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.leven
          h5 Federico Leven
          .circ.bg-purple Big Data
    .row
      //.col.s12.m6.l3
        .img-nombre
          .circular.user-img.dante
          h5 Dante Wojtiuk
          .circ.bg-yellow Algoritmos ML
      
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.jorge
          h5 Jorge Drot De Gourville
          .circ.bg-purple Big Data
          .circ.bg-yellow Algoritmos ML
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.raul
          h5 Raúl Ezequiel López Briega
          .circ.bg-orange Tensorflow
          .circ.bg-yellow Algoritmos ML
    
      .col.s12.m6.l3
        .img-nombre
          .circular.user-img.lisandro
          h5 Lisandro Cardozo
          .circ.bg-elctr Robótica
