extends layout

block content
    section.recomendaciones(name="recomendaciones")
      .tit
        h2 Pelis recomendadas
      .row
        .col.s12.m3
          .card.horizontal
            .card-image
              img(src='images/Pelis/00.jpg')
            .card-stacked
              .card-content
                span Nathan, un programador multimillonario con fama de reclusivo, selecciona a Caleb, un joven empleado de su empresa, para que pase una semana con él en un lugar remoto en las montañas con el objetivo de que participe en un test en el que está involucrada su última creación: Ava, un robot-mujer en el que inteligencia artificial lo es todo. 
              .card-action
                a(href='https://www.youtube.com/watch?v=EoQuVnKhxaM', target='_blank') Ver Trailer
        .col.s12.m3
          .card.horizontal
            .card-image
              img(src='images/Pelis/01.jpg')
            .card-stacked
              .card-content
                span Inglaterra vive sumida en una Guerra Fría con China. Por esa razón, el Ministerio de Defensa encarga al científico Vincent McCarthy que desarrolle un supersoldado cibernético. La investigación se ve alterada cuando un error informático da vida a su invención, llevando al científico a pedir ayuda a Ava, experta en Inteligencia Artificial. 
              .card-action
                a(href='https://www.youtube.com/watch?v=omJUqRJnFuc', target='_blank') Ver Trailer
        .col.s12.m3
          .card.horizontal
            .card-image
              img(src='images/Pelis/02.jpg')
            .card-stacked
              .card-content
                span Un científico de la unidad de inteligencia artificial, adquiere implicaciones peligrosas cuando se carga su conciencia en uno de esos programas .
              .card-action
                a(href='https://www.youtube.com/watch?v=bNuP8jDYUu0', target='_blank') Ver Trailer
        .col.s12.m3
          .card.horizontal
            .card-image
              img(src='images/Pelis/03.jpg')
            .card-stacked
              .card-content
                span Chicago, año 2035. Vivimos en completa armonía con robots inteligentes. Cocinan para nosotros, conducen nuestros aviones, cuidan de nuestros hijos y confiamos plenamente en ellos debido a que se rigen por las Tres Leyes de la Robótica que nos protegen de cualquier daño. Inesperadamente un robot se ve implicado en el crimen de un brillante científico y el detective Del Spooner (Will Smith) queda a cargo de la investigación.
              .card-action
                a(href='https://www.youtube.com/watch?v=_ok3nGo0mTc', target='_blank') Ver Trailer
