extends layout

block content
	.container
		h1.center Procesamiento de Lenguaje Natural
		.row
			.col.s6.m3
				.card.horizontal
					.card-image
						a(href="http://web.fi.uba.ar/~ahohenda/docs/ProLen_2011_Morpho.pdf", target='_blank')
							img.ico-pdf(src='images/pdf-blue.png')
					.card-stacked
						.card-content
							span Procesamiento de Lenguaje Natural Robusto, Andres T. Hohendahl y José F. Zelasco.
			.col.s6.m3
				.card.horizontal
					.card-image
						a(href="http://materias.fi.uba.ar/7500/Dubiau.pdf" , target='_blank')
							img.ico-pdf(src='images/pdf-blue.png')
					.card-stacked
						.card-content
							span Procesamiento de Lenguaje Natural en Sistemas de Análisis de Sentimientos, Luciana Dubiau.
	//section.tutoriales
		iframe(width='1200', height='600', src='https://www.youtube.com/embed/JqVibiT3Uuk', frameborder='0', allowfullscreen='')
