/*Reglas Generales*/
@font-face {
    font-family: "lato";
    src: url(../fonts/LatoLatinLight-Regular.woff) format("truetype");
}
@font-face {
    font-family: "lato-b";
    src: url(../fonts/LatoLatin-Bold.woff) format("truetype");
}
body {
	font: 18px "lato", Helvetica, Arial, sans-serif;

}
/*
::-webkit-scrollbar {
    display: none;
}
*/
.beta{
  font-size: 12px;
  color: #777;
}
.cl1, .cl2, .cl3, .cl4{
  text-align: center;
  padding-top: 20px;


}
.quienes h3, .quienes h5{
  color:#fff;
}
.quienes{

}
h3{
  font-size: 30px;
}
p{
  font-size: 18px;
}
.cli1 h3{
  vertical-align: middle;
}
a {
	color: white;
}
.ico-pdf{

}
.padnav{
	margin-left:25px;
}
iframe{
	width:100%;

}
.meetup h1{
  text-align: center;
  color:white;
}
.icnav{
	font-size: 24px;
}
.side-nav a{
  color:white;
}
.sombreado{
	text-shadow: #000 -1px 1px;
}
.bg-black{
  background-color: #000;
}
.btnCallToAction{
	background-color: white;
	border-radius: 30px;
	padding: 14px;
	font-size: 22px;
	color: #021e2b;

	font-weight: bold;
	width: 150px;


}
.cont-btn{

  margin-top: 50vh;
}
.waves-effect {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(0,188,212, 0.1);
    }
.waves-effect:hover {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #00bcd4;
    }
.medium-site{
	width: 100%; height: 600px; margin: 0; padding: 0;

}
.top-btn{
margin-top: 30vh;

}
/*Sections*/
section .tit{
	text-align: center;

}
.section-bg h1{
  color:white;
  font-family: "lato";
}

.noticias, .recomendaciones{
	height: 600px;
}
.card-action a{
	color: #00B7FF !important;
}
.card-content{
	font-weight: bold;
}
section.recomendaciones, section.quienes{
	padding-left: 15vw;
	padding-right: 15vw;
}
.center{
  text-align: center;
}
.quienes{
  color:black;
  padding-bottom: 50px;
}
h1{
  font-size: 36px;
    text-align: center;
}
.section-bg{
  background-position: center center;

  /* Scale it nicely to the element */
   background-size:cover ;
   height: 50vh;
}
.align-btn{
  height: 80vh;
  display: table;
  margin: 50vh auto;
}
.btn-btn{
  position: relative;

  text-align: center;

}


.cl1{
	background-image: url('../images/clusters/conf.jpg');
}
.cl2{
	background-image: url('../images/clusters/workshop1.jpg');
}
.cl3{
	background-image: url('../images/clusters/emprendedores.jpg');
}
.cl4{
	background-image: url('../images/clusters/investigadores.jpg');
}
.sect-white{
	height: auto;
	color:#555;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*Spinner*/

.cssload-container{
	position:relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}


@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    width: 100vw;
    height: auto;
}
/*imagenes circulares*/
.circular{
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	display: inline-block;
}
.circular.user-img{
	width: 150px;
	height: 150px;
	background-size: 100%;
	background-position: center center;
  background-size: cover;

	}
.img-nombre{

}
.nico{
		background: url("/images/nos/nic0.jpeg") no-repeat;
}
.leven{
		background: url("/images/nos/leven.jpg") no-repeat;
}
.andy{
		background: url("/images/nos/andy.jpeg") no-repeat;
}
.alexD{
		background: url("/images/nos/alex d.jpeg") no-repeat;
}
.alexH{
		background: url("/images/nos/alex h.jpeg") no-repeat;
}
.ricardo{
		background: url("/images/nos/Ricardo.jpeg") no-repeat;
}
.pablo{
		background: url("/images/nos/Pablo.jpeg") no-repeat;
}
.dante{
		background: url("/images/nos/Dante0.jpeg") no-repeat;
}
.pato{
		background: url("/images/nos/Patrici0.jpg") no-repeat;
}
.jorge{
		background: url("/images/nos/jorge.jpg") no-repeat;
}
.daniel{
		background: url("/images/nos/daniel.jpg") no-repeat;
}
.lisandro{
  background: url("/images/nos/lisandro.bmp") no-repeat;
}
.raul{
		background: url("/images/nos/raul.jpg") no-repeat;
}
/* ---- stats.js ---- */

.count-particles{
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100vh;


}

/*parallax*/
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: auto;
  width: 100vw;
    overflow-x:hidden;
    background-size: 100%;
    perspective-origin-x: 100%;
}
.parallax__group {

  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.parallax__layer--base {
  transform: translateZ(0);
  top:80px;
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2.1);
  
  background-image: url('../images/c4.jpg');
  /* fix background */

    /* center it */
    background-position: center 100px;
    /* Scale it nicely to the element */
     background-size:cover ;

     height: 150%;
}
.parallax {
  perspective-origin-x: 100%;
  -webkit-perspective-origin-x: 100%;
}
.parallax__layer {
  transform-origin-x: 100%;
  -webkit-transform-origin-x: 100%;
}

.circ{
  border-radius: 5px;
  color:white;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
.bg-red{
  background-color: #EB4949;


}
.bg-orange{
  background-color: #EF8E26;

}
.bg-purple{
  background-color: #9B50C3;

}
.bg-yellow{
  background-color: #1B81A5;

}
.bg-elctr{
  background-color: #0071C8;
}
